.grid-item img {
  width: 8rem;
  height: 8rem;
}
.grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 16px;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}
.grid-panel {
  display: grid;
  grid-template: auto 1fr /2fr 1fr 1fr;
  gap: 16px;
}
h1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
p {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
button {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
